<!DOCTYPE html>
<html>
  <head>
    <title>Openmind</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('openmind.png') %>";
    </script>
    <script type="text/javascript">
      window.heroURL = "<%= image_url('hero.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
